<section>
    <div class="container"> 
        <div class="">
            <a href="/admin/add-coupon" class="btn btn-success mt-5">Add Coupon</a>
        </div>
        <table class="table mt-5" id="productsTable">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">COUPON CODE</th>
                    <th scope="col">OFFER PERCENTAGE</th>
                    <th scope="col">VALIDITY</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each coupons}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.Name}} </td>
                    <td>{{this.Offer}} </td>
                    <td>{{this.validity}} </td>
                    <td>
                         <a href="/admin/delete-coupon?id={{this._id}}" class="btn btn-danger" onclick="return confirm('are you want delete {{this.name}}? ')">DELETE</a> 
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</section>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

     <script>
    $(document).ready(function () {


        $('#productsTable').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#productsTable').DataTable();
</script>