<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">


    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="user-assets/img/icon/search.png" alt=""></a>
        <a href="#"><img src="user-assets/img/icon/heart.png" alt=""></a>
        <a href="#"><img src="user-assets/img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->



<!-- Hero Section Begin -->
<section class="hero">

    <div class="hero__slider owl-carousel">
        {{#each banners}}
        <div class="hero__items set-bg" data-setbg="banner-image/{{this._id}}.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>{{this.name}}</h6>
                            <h2>{{this.description}}</h2>     
                            <p>{{this.offer}}</p>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</section>
<!-- Hero Section End -->
{{#if products}}
<!-- Shop Section Begin -->

<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                {{#each categories}}
                                                <li><a href="/category-base/{{this.Category}}">{{this.Category}}</a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">$0 - $55</option>
                                    <option value="">$55 - $100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/product-image/{{this._id}}.jpg">
                                <ul class="product__hover">
                                    <li><a class="btn btn-light" href="/product-detail?id={{this._id}}"> <i
                                                              class="fa fa-eye" aria-hidden="true"></i></a></li>
                                    <li><a href="/add-to-wishlist/{{this._id}}"><img
                                                src="/user-assets/img/icon/heart.png" alt=""></a></li>
                                    <li><a href="#"><img src="/user-assets/img/icon/search.png" alt=""></a></li>
                                </ul>
                            </div>

                            <div class="product__item__text">
                                <h6>{{this.name}}</h6>
                                <a href="/add-to-cart/{{this._id}}" class="add-cart">+ Add To Cart</a>
                                <div class="rating">
                                    {{!-- <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i> --}}

                                    <p>{{this.category}}</p>
                                </div>
                                <i class="fa-solid fa-indian-rupee-sign"></i> {{this.price}}
                                {{!-- <div class="product__color__select">
                                    <label for="pc-4">
                                        <input type="radio" id="pc-4">
                                    </label>
                                    <label class="active black" for="pc-5">
                                        <input type="radio" id="pc-5">
                                    </label>
                                    <label class="grey" for="pc-6">
                                        <input type="radio" id="pc-6">
                                    </label>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
{{/if}}

<!-- Instagram Section Begin -->
<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="user-assets/img/instagram/instagram-1.jpg">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="user-assets/img/instagram/instagram-2.jpg">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="user-assets/img/instagram/instagram-3.jpg">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="user-assets/img/instagram/instagram-4.jpg">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="user-assets/img/instagram/instagram-5.jpg">
                    </div>
                    <div class="instagram__pic__item set-bg" data-setbg="user-assets/img/instagram/instagram-6.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <h3>#Male_Fashion</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Latest News</span>
                    <h2>Fashion New Trends</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="user-assets/img/blog/blog-1.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="user-assets/img/icon/calendar.png" alt=""> 16 February 2020</span>
                        <h5>What Curling Irons Are The Best Ones</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="user-assets/img/blog/blog-2.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="user-assets/img/icon/calendar.png" alt=""> 21 February 2020</span>
                        <h5>Eternity Bands Do Last Forever</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="user-assets/img/blog/blog-3.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="user-assets/img/icon/calendar.png" alt=""> 28 February 2020</span>
                        <h5>The Health Benefits Of Sunglasses</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->



<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>